/* imagen puntos */
.fondo{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.boton-solicitar{
    width: 100%;
    margin: auto;
    padding: 6px;
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
    background-color: #ffffff;
    border-top: 0.005em solid rgba(0, 0, 0, 0.247);
    border-bottom: 0.008em solid rgba(0, 0, 0, 0.425);
    border-left: none;
    border-right: none;
}
.link2 {
    text-decoration: none;
    color: rgba(3, 110, 35, 0.767); 
}
.link2:hover{
    color: #45BB3A;
}
/* titulo */
.titulo-sucursal{
    text-align: center;
    margin: 15px;
    font-weight: 700;
}
/* contenedor de locales y mapas */
.contenido{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 0.005em solid rgba(0, 0, 0, 0.192)
}
/* mapas */
iframe{
    width: 90vw;
    height: 40vmin;
    margin-bottom: 5px;
    border: 3px solid rgba(34, 34, 34, 0.692);
}
@media screen and (max-width: 425px){
    .frogcard-span{
        width: 100%
    }
    .boton-solicitar{
        display: none
    }
    iframe{
        width: 100vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px){
    iframe{
        width: 100vw;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    iframe{
        width: 100vw;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1440px){
    .frogcard-span{
        width: 65%;
    }
    .boton-solicitar{
        font-size: 1.8em;
    }
    .titulo-sucursal{
        text-align: start;
    }
    .contenido{
        border: none;
    }
}
@media screen and (min-width: 1441px) and (max-width: 2560px){
    .frogcard-span{
        width: 75%;
    }
    .boton-solicitar{
        font-size: 2.2em;
    }
    .titulo-sucursal{
        font-size: 3em;
        font-weight: 800;
        text-align: start;
    }
    .contenido{
        border: none;
    }
}
/* card locales */
.sucursal{
    width: 30%;
    background-color: rgba(255, 255, 255, 0.363);
    color: rgb(22, 20, 20);
    text-align: center;
}
.imagen-locales{
    width: 75%;
    height: 45%;
    border: 3px rgba(141, 140, 140, 0.432) solid;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.imagen-locales:hover{
    border: 2px #45BB3A solid;
}
.num-sucursal{
    font-weight: 800;
}
.verMapa a{
    font-size: 1.3em;
    font-weight: 800;
    color: rgb(0, 129, 17);
    text-shadow: 2px 1px 1px rgb(0, 0, 0);
    text-decoration: none;
}
.verMapa a:hover{
    color :#45BB3A;
}
@media screen and (max-width: 425px){
    .sucursal{
        width: 100%;
    }
}
@media screen and (min-width: 426px) and (max-width: 1024px) {
    .sucursal{
        width: 50%;
    }
}
@media screen and (min-width: 1441px) and (max-width: 2560px){
    .num-sucursal{
        font-size: 2.5em
    }
    .verMapa a{
        font-size: 1.8em;
    }
    .horario{
        font-size: 1.5em;
    }
}
